/CNCarema/CNCarema.iml
/CNCarema/build/
/build/
/app/build/
/app/huawei/
/app/agconnect-services.json
/app/app.iml
/CNImagePicker/build/
/CNImagePicker/CNImagePicker.iml
/DqGlide/build/
/DqGlide/DqGlide.iml
/Dqlibrary/build/
/Dqlibrary/Dqlibrary.iml
/httplibary/httplibary.iml
/matisse/build/
/matisse/matisse.iml
/passlibrary/passlibrary.iml
/QCPickerView/build/
/QCPickerView/QCPickerView.iml
/recorderlib/recorderlib.iml
/recorderlib/ZlwAudioRecorder-master-recorderlib.iml
/redlibary/redlibary.iml
/turntableview/turntableview.iml
/uikit/build/
/uikit/uikit.iml
/DqModel/build/
/DqModel/DqModel.iml
/.idea/
/.idea/
